@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

body {
  background-color: #f5f5f560;
}

.content {
  max-width: 1240px;
  margin: auto;
  font-family: 'Epilogue';
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.search-input {
  font-size: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-color: transparent;
  border-radius: 10px;
  font-family: 'Epilogue';
}

.search-input:hover {
  border: 2px solid black;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6px;
  border-radius: 6px;
  background-color: white;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

.icon:hover {
  border: 2px solid black;
  cursor: pointer;
}

.icon-svg {
  margin-bottom: 16px;
}

.icon-name {
  font-size: 14px;
}

.icon-action {
  position: absolute;
  background-color: #ffffff50;
  display: none;
  bottom: 0;
  padding-bottom: 8px;
}

.icon:hover .icon-action {
  display: block;
}

.icon-copy,
.icon-download {
  display: flex;
  justify-content: center;
  width: 80px;
  font-size: 14px;
  background-color: #f5f5f5;
  color: black;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 4px;
}

.icon-copy:hover,
.icon-download:hover {
  background-color: #e8e8e8;
}
