.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 32px;
  max-width: 1098px;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  letter-spacing: -0.6px;
  padding-right: 32px;
}
